@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Balsamiq+Sans&display=swap');
body {
  font-family: 'Balsamiq Sans', cursive;
  background-color: #dfe4de;
}
.top-nav {
  display: flex;
  justify-content: space-around;
  background-color: #dfe4de;
  color: #126f80;
  height: 25px;
}
.top-nav div p {
  font-family: 'Balsamiq Sans', cursive;
}
.top-nav div span i {
  padding: 0 10px;
}
div h1 {
  font-family: 'Balsamiq Sans', cursive;
  text-align: center;
  padding-top: 5px;
}
div h1 span {
  font-family: 'Alfa Slab One', cursive;
  font-size: 50px;
  color: #f95151;
}
.image {
  width: 100%;
  overflow-x: hidden;
}
#overlay {
  position: absolute;
  top: 30%;
  left: 10%;
  font-family: 'Balsamiq Sans', cursive;
  width: 30%;
  border: 2px solid #f95151;
  background-color: rgba(223, 228, 222, 0.8);
  text-align: center;
  padding: 20px;
}
h2 span {
  font-size: 30px;
  font-family: 'Balsamiq Sans', cursive;
  color: #126f80;
}
h2 {
  color: #525e76;
}
.navbar ul li {
  list-style-type: none;
  display: inline;
  padding: 10px;
  background-color: #dfe4de;
}
.navbar ul li:hover {
  background-color: #cdd3cc;
  text-decoration: none;
}
.navbar ul li a {
  color: #126f80;
}
.card h3 a {
  color: #525e76;
}
.card {
  margin: 15px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  #overlay {
    width: 80%;
    padding: 5px;
  }
  #overlay h2 {
    font-size: 30px;
  }
}
