{% extends 'base.html' %}

<!--Content block-->
{% block content %}

<div class="image">
  <image
    style="height: 70vh; width: 100%; position: relative"
    src="{{ url_for('static', filename='images/image3.jpg') }}"
    alt=""
  />
  <div id="overlay">
    <h2 class="text-uppercase">
      <span>For all your latest news</span> <br />"know your world"
    </h2>
  </div>
</div>
<div>
  <ul>
    {% for source in sources %}
    <h3><a href="/source/{{ source.id }}">{{ source.name }}</a></h3>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
